h1{
    color: white;
    background-color: rgb(71, 120, 194);
    max-width: 400px;
    padding: 10px 10px 10px 10px;
}
p{
    padding: 10px 10px 10px 10px;
    max-width: 400px;    
    background-color: rgb(43, 159, 226);
}