.s1{
    color: royalblue;
}
.s2{
    color: gold;
}
.s3{
    color: khaki;
}
.s4{
    color: sandybrown;
}
.s5{
    color: crimson;
}
.s6{
    color: blueviolet;
}


#ps1{
    text-align: center;
    background-color: darkslategray;
}
